@lost gutter 0px;
$wrapper-padding: 16px;

.wrapper {
	margin: 0 auto;
	height: 100%;
}

.below_wrapper {
	lost-column: 6/7 0;
	min-height:100%;
}

.Main {
	min-height: 100%;
	margin-left: 30px;
}

#app {
	height: 100%;
}

.text-section {
	margin: 3em auto;
}

.box-body {
	margin: 3em;
}

.table {
	margin-top: 3em;
}

.imageloader {
	width:50px;
}

img {
	width:50px;
}